.app {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.app__contactButton {
  width: 20%;
  position: fixed;
  bottom: 0;
  margin: 10px;
  display: flex;
  flex-direction: row-reverse;
  right: 20px;
}

.app__contactButton > h1 {
  padding: 15px;
  font-size: 15px;
}
