.form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20%;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px;
}

.form__inputs > * {
  margin-top: 5%;
}

.MuiSelect-select.MuiSelect-select {
  color: grey;
}

.form__inputs > .form__dropdown {
  margin-top: 5%;
}

.form__inputs > .form__button {
  margin-top: 5%;
}

@media only screen and (min-width: 1500px) {
  .form__inputs > .form__button {
    margin-bottom: 100px;
  }
  .form {
    margin-bottom: 20px;
  }
}
